img {
    max-width: 100%;
    vertical-align: bottom;
}
body {
    font-family: 'Noto Serif JP', serif;
    background-color: #e6e2d7;

}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:white;
}
.header {
    background-image:url("../img/mainvisual-pc.jpg");
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    writing-mode: vertical-rl;
}
.header_link {
    padding: 80px 80px 0 0;
}
.header_link > li {
}
.header_link > li:nth-child(n+2) {
    margin-right: 20px;
}
.header_link > li:first-child {
    margin-left: 40px;
    font-size: 40px;
    letter-spacing: 10px;
}
.online_store {
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: rgb(207, 207, 207,0.2);
    padding: 8px;
}
.online_link {
    padding: 14px 14px;
    border: 1px solid white;
    display: block;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
    padding:0 10px;
}
.news {
    margin-top: 180px;
    display: flex;
    flex-direction: row-reverse;
}
.news_ruby {
    display: block;
    margin-left:15px;
    font-size:0.875rem;
}
.news_section_title {
    writing-mode: vertical-rl;
    font-weight: normal;
    line-height: 1;
}
.news_title {
    display: block;
    font-size: 2.25rem;
    letter-spacing: 0.1em;
}
.list {
    padding: 80px 100px 0 0;
    writing-mode: vertical-rl;
}
.list dt {
    border-right: solid 1px #000;
    font-size: 0.75rem;
    padding: 15px 30px 15px 5px;
}
.list dd {
    padding: 15px 0 15px 30px;
}
.new_value {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.new_value_title_box {
    writing-mode: vertical-rl;
    margin-right: 100px;
}
.new_value_title_box > span:nth-of-type(1) {
    font-size:40px;
}
.new_value_title_box > span:nth-of-type(2) {
    display: inline-block;
    margin-top: 30px;
}
.new_value_img_box {
    max-width: 100%;
    width: 65%;
    padding: 100px 0;
    position: relative;
}
.new_value_yellow_box {
    position: absolute;
    width: 350px;
    height: 150px;
    background-color: rgba(249, 233, 6, 0.6);
    left: -33px;
    bottom:-20px;
    text-align: center;
    padding: 30px;
}
.new_value_yellow_box > p {
    color: white;
}
.science {
    display: flex;
    margin-bottom: 100px;
}

.science_txt_box {
    writing-mode:vertical-rl;
    margin-right: 10px;
}
.science_txt_box > span:nth-of-type(1) {
    font-size:40px;
}
.science_txt_box > span:nth-of-type(2) {
    margin-top: 30px;
    display: inline-block;
}
.science_img_box {
    position: relative;
    padding: 100px 0;
    width: 65%;
}
.science_img_text_box {
    position: absolute;
    background-color: rgba(242, 51, 124, 0.6);
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 30px;
    bottom: -38px;
    right: -27px;
}
.map-wrap {
}
.map-wrap iframe {
    width: 100%;
    vertical-align: bottom;
}

.footer {
    background-color: #000;
}

.footer_inner {
    padding: 80px 80px 0 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.footer_toiawase {
    writing-mode: vertical-rl;
}
.footer_sousaku {
    writing-mode: vertical-rl;
}
.footer_link {
}

.footer_link > li:first-child {
    margin-left: 80px;
    font-size: 40px;
    letter-spacing: 10px;
}

.footer_link > li:nth-child(n+2) {
    margin-right: 20px;
}

.footer_link > li:nth-child(3) {
    margin-left:80px;
}

.footer_txt {
    text-align: center;
    color:white;
    padding: 10px;
}

@media(max-width:768px) {
    .inner {
        max-width: 1024px;
        margin: 0 auto;
        padding:0 20px;
    }
    .header {
        background-image:url("../img/mainvisual-sp.jpg");
        width: 100%;
        height: 100vh;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        writing-mode: vertical-rl;
        padding: 20px;
    }
    .header_link {
        padding:0;
    }
    .list {
        padding: 80px 20px 0 0;
        writing-mode: vertical-rl;
    }
    .list dt {
        border-right: solid 1px #000;
        font-size: 0.75rem;
        padding: 15px 15px 15px 5px;
    }
    .list dt:nth-of-type(n+4) {
        display: none;
    }
    .list dd:nth-of-type(n+4) {
        display: none;
    }
    .list dd:nth-last-of-type(3) {
        border-left:1px solid #000;
    }
    .list dd {
        padding: 15px 0 10px 15px;
    }
    .science_img_box {
        position: relative;
        padding: 100px 0;
        width: 90%;
    }
    .science_img_text_box {
        position: absolute;
        background-color: rgba(242, 51, 124, 0.6);
        width: 64%;
        height: auto;
        text-align: center;
        padding: 30px;
        bottom: 28px;
        right: -10px;
    }

    .new_value_title_box {
        writing-mode: vertical-rl;
        margin-right: 0px;
    }
    .new_value_img_box {
        max-width: 100%;
        width: 90%;
        padding: 100px 0;
        position: relative;
    }
    .new_value_yellow_box {
        position: absolute;
        width: 64%;
        height: auto;
        background-color: rgba(249, 233, 6, 0.6);
        left: -15px;
        bottom:70px;
        text-align: center;
        padding: 30px;
    }
    .footer_inner {
        padding: 20px 10px 10px 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
        width: 100%;
    }
}