img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    font-family: "Helvetica Neue",Arial,"Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}
.header {
    background-image: url('../img/mainvisual.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}
.header_link {
    position: absolute;
    display: flex;
    right: 20px;
    top:20px;
}
.header_link li a {
    color: white;
    margin-right: 20px;
    font-weight: bold;
    filter:drop-shadow(1px 1px 2px #121212);
    transition:all 0.3s ease; 
}
.header_link li a:hover {
    color: red;
}

.header h1 {
    position: absolute;
    top:40%;
    text-align: center;
    color: white;
    width:100%;
    filter:drop-shadow(1px 1px 10px #c0c0c0);
    font-size:100px;
}
.menu_img {
    background-image: url("../img/menu.jpg");
}
.about_img {
    background-image: url("../img/about.jpg");
}
.location_img {
    background-image: url("../img/location.jpg");    
}
.menu {
    position: relative;
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.menu h1 {
    top:80px;
    width:100%;
    position: absolute;
    text-align: center;
    font-size:100px;
    color:white;
}
.inner {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
}
.menu_row {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.midashi {
    border-bottom: 6px solid red;
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 70px;
}

.menu_row {
    margin:20px 0;
}
.menu_row > span:first-child {
    border-bottom:1px dotted #000;
    width: 80%;
    display: inline-block;
    text-align: left;
}
.menu_row > span:last-child {
    width: 20%;
    display:inline-block;
    padding-top: 10px;
}

.menu_left {
    width: 50%;
    padding: 0 30px;
    margin: 0 auto;
    border-right: 1px solid #000;
    text-align: center;
}

.menu_right {
    width: 50%;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
}

h3.midashi {
    margin-top: 70px;
}

div.menu.about_img {
    margin: 140px 0 0px 0;
}
.coffee {
    text-align: center;
}
.coffee_left {
    width: 48%;
    text-align: left;
}
.coffee_right {
    width: 48%;
    text-align: left;
}
.coffee_row {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    font-size: 20px;
}

.about_btn {
    width: 160px;
    height: 50px;
    line-height: 3.5;
    display: inline-block;
    color: #000;
    padding: 0;
    cursor: pointer;
    margin-bottom: 70px;
}
.our_store {
    text-align: center
}
.footer_p {
    text-align: left;
    margin-top: 40px;
    font-size:22px;
}
.footer_str {
    margin-top: 200px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}