img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    font-family: "Helvetica Neue",Arial,"Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}
.header {
    background-image: url('../img/mainvisual.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}
.header_link {
    position: absolute;
    display: flex;
    right: 20px;
    top:20px;
}
.header_link li a {
    color: white;
    margin-right: 20px;
    font-weight: bold;
    filter:drop-shadow(1px 1px 2px #121212);
    transition:all 0.3s ease; 
}
.header_link li a:hover {
    color: red;
}

.header h1 {
    position: absolute;
    top:40%;
    text-align: center;
    color: white;
    width:100%;
    filter:drop-shadow(1px 1px 10px #c0c0c0);
    font-size:100px;
}

.menu {
    position: relative;
    background-image: url("../img/menu.jpg");
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.menu h1 {
    top:80px;
    width:100%;
    position: absolute;
    text-align: center;
    font-size:100px;
    color:white;
}
.inner {
    max-width: 1000px;
    padding: 0 16px;
}
.menu_column {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.midashi {
    border-bottom: 6px solid red;
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 70px;
}

.menu_row {

}
.menu_row > span:first-child {
    border-bottom:1px dotted #000;
    width: 80%;
    display: inline-block;
    text-align: left;
}
.menu_row > span:last-child {
    width: 20%;
    display:inline-block;
}

.menu_left {
    width: 50%;
    padding: 0 30px;
    text-align: center;
    border-right: 1px solid #000;
}