body {
    font-family: 'Crimson Text', serif;
}

img {
    max-width: 100%;
}

.flex_header_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 auto;
    width: 90vw;
    margin-top: 100px;
}

.main_visual {
    width: 90vw;
}

.link_box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}

.link_box > a {
    text-decoration: none;
    color: black;
    font-size: 11px;
}
.link_box > a > img {
    width: 120px;
    vertical-align: bottom;
    padding-bottom: 3px;
}

.inner {
    width: 1000px;
    margin: 80px auto 0 auto;
}
.main_flex_container {
    display: flex;
    flex-wrap:wrap;
    width: 500px;
}

.img_container {
    width: 500px;
}
.main_flex_text_box {
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 500px;
}
.text_title {
    margin-bottom: 5px;
}
.text_sub_title {
    margin-bottom: 25px;
}
.top_box {
    display: flex;
    margin-bottom: 50px;
}
.under_box {
    display: flex;
    margin-bottom: 50px;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer > img {
    width: 120px;
    vertical-align: bottom;
    padding-bottom: 3px;
}

@media(max-width:767px) {

}