img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-size: 0.875rem;
}
.inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
li {
    list-style: none;
}
.link_list {

}
.link_list > li {
    display: inline;
    font-size:0.875rem;
    margin-right: 30px;
}
.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    height: 80px;
}

.toiawase_btn {
    border:1px solid #000;
    padding: 30px;
    display: inline-block;
    background-color: black;
    color: white;
    height: 80px;
    width: 200px;
    text-align: center;
}
.toiawase_btn:hover {
    opacity: 0.7;
}
.wed {
    font-size:1.50rem;
    letter-spacing: 10px;
}
.main_visual > img {
    height: calc(100vh - 80px);
    object-fit: cover;
    width: 100%;
}
.background_gray {
    background-color: rgb(233, 233, 233);
}
.flex_inner_column {
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news_bottom_box {
    width: 33%;
    border-right: 1px solid #000;
    padding: 10px 20px;
    font-size:0.875rem;
}

.news_bottom_box > span:first-child,.about_box > p {
    line-height: 2;
}

.news_title_box {
    margin-top: 100px;
}
.news_title_box > p,.about_box > p:first-of-type {
    margin-bottom: 30px;
}
.about_box > p:nth-of-type(2) {
    margin-top: 50px;
}
.news_title_box_h,.about_box > span {
    letter-spacing: 10px;
    display: inline-block;
    font-size:2.25rem;
}
.news_title_box > hr,.about_box > hr {
    border:none;
    border-bottom: 1px solid #000;
    width:50px;
}
.flex_news {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.flex_news > div > div > span:nth-child(2) {
    color: white;
    background-color: black;
}
.news_bottom_box:nth-child(1) {
    padding-left: 0;
}
.news_bottom_box:last-child {
    padding-right: 0;
    border-right:none;
}
.news_bottom_box > div {
    margin-bottom: 20px;
}
.flex_about_box {
    display: flex;
    justify-content: space-between;
}
.about_box {
    width: 45%;
    margin-right: 80px;
    padding: 180px 5% 0 5%;
}
.about_img_box {
    width: 55%;
}
.about_img_box > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}