img {
    max-width: 100%;
}
body {
    min-height: 100vh;
}
.inner {
    max-width: 1360px;
    padding: 0 40px;
    margin: 0 auto;
}
li {
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
}
.header > a {
    color: black;
}
.site_name {
    font-weight: bold;
}

a {
    text-decoration: none;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:33px;
    padding-top: 80px;
}
.wrapper > div {
    padding: 0 0px 0 0;
}
.title {
    margin-top: 10px;
    font-size: 20px;
}
.value {
    font-size:20px;
    margin-bottom: 30px;
}
.view_more {
    text-align: center;
}
.view_more a {
    color: black;
}
.footer {
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:100vh;
    bottom:0;
    right: 0;
    left: 0;
}
.footer_link {
    display: flex;
}
.footer_link li a {
    color: black;
    font-size:20px;
    margin-right: 20px;
}
.footer_right {
}
.footer_right > span {
    font-size:20px;
}
.wrapper p {
    color: black;
}
.wrapper a:hover {
    transition: 0.7s;
    opacity: 0.7;
}
.product {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.product_left {
    width: 50%;
}
.product_right {
    width: 40%;
    font-size:22px;
}
.product_right p:first-child {
    margin-bottom: 30px;
}
.back {
    text-align: center;
    margin-top:50px;
}
.back a {
    color: black;
}
.product_title {
    margin-bottom: 30px;
}
.pager_box {
    margin: 0 auto;
    width: 10%;
}
.pager {
    display: flex;
} 
.pager li a {
    color: black;
}
.pager li {
    padding: 0 20px;
}
.about {
    margin-bottom: 30px;
}
.about_div {
    font-size: 20px;
    width: 50%;
    line-height: 2;
}


@media(max-width:900px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}