html {
    background-color: #ebe4cd;
    font-size:22px;
    
}
body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.bg-back {
    background-color: #ebe4cd;    
}
.navbar-brand img {
    max-width: 250px;
}
#header-nav {

}
#main-background {
    background: url(../img/s005-bg-001.jpg);
    width: 100vw;
    overflow: hidden;
    height: calc(100vh - 56px);
}
#background_second {
    background: url(../img/s005-bg101.jpg);
    width: 100vw;
    overflow: hidden;
    height: calc(100vh);
}
#background_third {
    background: url(../img/s005-bg102.jpg);
    width: 100vw;
    overflow: hidden;
    height: calc(100vh);
}
#main-over-message {
    max-width: 670px;
    background-color: rgba(235,228,205,0.8);
    border: double 4px #554426;
}
.background_second_over {
    background-color: rgba(235,228,205,0.7);
    border: solid 4px rgba(235,228,205,0.7);
    border-radius: 20px;
}

.before_img h3::before {
    background-image: url(../img/s005-logo002.png);
    width: 60px;
    height: 40px;
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
.big-border {
    border-bottom:3px solid #554426;
}
.bg-main {
    background-color: #554426;
}
.font-l {
    font-size: 28px;
}
.font-s {
    font-size:20px;
}
.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400
}
#news_btn {

}
#news_btn:hover {
    background-color: #554426;
    color: #000!important;    
}

.right_img {
    border-radius: 10px;
}
.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.detail_btn:hover {
    background-color: #554426;
    color: orange !important;
}

.mb-10 {
    margin-bottom: 6rem;
}
.pt-10 {
    padding-top: 6rem;
}

.footer {
    height: 730px;
    width: 100%;
}
.footer-2 {
    height: 730px;
    width: 100%;
}
.nohr {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}
.img-radius {
    border-radius: 10px;
}
.text-orange {
    color: orange;
}
.bg-orange {
    background-color: orange;
}
.hover_white {

}
.hover_white:hover{
    color: #fff!important;
    background-color: orange;
}
.gmap {
    padding-bottom: 55%;
    overflow: hidden;
    position: relative;
    height: 0;
}