img {
    max-width: 100%;
}
body {
    font-size: 0.85em;
}
.main_container {
    margin: 50px auto 50px auto;
    max-width: 1000px;
}
.index_container {
    margin: 0 auto 50px auto;
    max-width: 800px;
    background-color: #f5f5f5;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 50px 50px;
}
.index_box {
    border:1px solid #000;
    padding: 50px 100px 20px 100px
}
.index_box > ol > li {
    margin-bottom: 20px;
}
.index_title {
    margin: 50px auto 30px auto;
}
.photo_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 50px auto;
    max-width: 800px;
}
.photo_container > img {
    width: 49%;
}
.photo_container > img:nth-child(1) {
    margin-bottom: 15px;
}
.photo_container > img:nth-child(2) {
    margin-bottom: 15px;
}
.detail_container {
    margin: 0 auto 50px auto;
    max-width: 800px;
    background-color: #f5f5f5;
    padding: 60px;
}
.detail_flex_box {
    display: flex;
}
.detail_left_box {
    border-right: 1px solid #000;
    padding-right: 40px;
    width: 35%;
}
.detail_left_box > dl > dt {
    font-weight: bold;
}
.detail_left_box > dl > dd {
    margin-bottom: 10px;
}
.detail_left_box > dl > dd:last-child {
    margin-bottom: 0;
}
.detail_right_box {
    padding-left: 40px;
    width: 65%;
}
.detail_right_box > p {
    margin-bottom: 20px;
}
.detail_title_box {
    text-align:center;
    margin-bottom: 30px;
}
.detail_title {
    font-size: 1.125rem;
    font-weight: bold;
}
