img {
    max-width: 100%;
}
body {
    font-family: "Arial","Hiragino","Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-size:0.875rem;
}

.main_visual {
    height: 100vh;
    width:100vw;
    background-image:url("../img/mainvisual.jpg");
    text-align: right;
}
.logo {
    margin: 30px 30px 0 0;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
.magazine {
    margin: 80px 0 40px 0;
    text-align: center;
}
.magazine_word {
    margin-bottom: 20px;
}
.archive {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.archive_left {
    position: relative;
    width:49%;
}
.word_box {
    position: absolute;
    max-width: 290px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    top:40%;
    right: 0;
    left:0;
    padding: 15px 0;
    text-align: center;
}
.word {
    color: white;
}
.archive_right {
    position: relative;
    width:49%;
}
.fashion {
    margin-top: 60px;
    background-image: url(../img/fashion.jpg);
    text-align: center;
    max-width: 100%;
    height: 520px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top:20px;
}
.text_title {
    font-weight: bold;
    font-size:1.25rem;
    margin-bottom: 20px;
}
.text_box {
    margin: 30px auto 0 auto;
    border: 1px solid black;
    padding: 14px 36px;
    display: inline-block;
    color: black;
    text-decoration: none;
}
.text_box:hover {
    opacity: 0.7;
}
.fashion_inner {
    max-width: 1200px;
    margin: 40px auto 20px auto;
    padding: 0 5%;
}
.background_gray {
    background: rgb(244, 244, 244);
    width:100%;
    padding:80px 0;
}
.flex_gray_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}
.flex_gray_container > div:nth-child(1) {
    margin-bottom: 100px;
}
.flex_gray_container > div:nth-child(2) {
    margin-bottom: 100px;
}

.flex_gray_img_box {
    width: 48%;
}
.flex_gray_text_box {
    width: 48%;
    text-align: center;
}
.flex_gray_text_box > h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size:1.5rem;
}
.flex_gray_text_box > p {
    text-align: left;
    margin-bottom: 30px;
}
.flex_gray_text_box > p:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
.btn {
    color:black;
    display: inline-block;
    border: 1px solid #000;
    padding: 15px 30px;
    font-size: 0.75rem;
    margin-top: 30px;
}
.background_black {
    background-color: rgb(50, 50, 50);
}
.flex_footer_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;
}
.footer_left_box {
    width:33%;
}
.footer_middle_box {
    color: white;
    width: 33%;
}
.footer_middle_box > ul > li {
    list-style-type: none;
    color: white;
    font-size:0.750rem;
    line-height: 2;
}
.footer_middle_box > ul > li::before {
    content:"-";
    margin-right: 5px;
    color: white;
}

.footer_right_box {
    width: 33%;
    color: white;
}
.footer_right_box > p:nth-child(2) {
    font-size:0.750rem;
    line-height: 2;
}
.p_title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer_logo {
    display: inline-block;
    margin-top: 50px;
}
.footer_text {
    padding: 30px 0;
    text-align: center;
    font-size:0.8rem
}