img {
    max-width: 100%;
}
body {
    font-family: "Arial","Hiragino","Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-size:0.875rem;
}

.main_visual {
    height: 100vh;
    width:100vw;
    background-image:url("../img/mainvisual.jpg");
    text-align: right;
}
.logo {
    margin: 30px 30px 0 0;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
}
.magazine {
    margin: 80px 0 20px 0;
    text-align: center;
}
.magazine_word {
    margin-bottom: 20px;
}
.archive {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.archive_left {
    background-image: url("../img/magazine-archive.jpg");
}
.archive_right {
    background-image: url("../img/magazine-new.jpg");
}